<form
  ...attributes
  onsubmit={{action this.submit}}
>
  {{yield (hash
    input=(component "form-builder/input" builder=this.formBuilder)
    fields=(component "form-builder/fields" on=this.formBuilder)
    submit=(component "form-builder/submit" builder=this.formBuilder)
    builder=this.formBuilder
  )}}
</form>
