{{#let (and @config.canValidate @config.validations.errors) as |isInvalid|}}
  <div class="form-group" ...attributes>
    {{#if @config.texts.label}}
      <@labelComponent />
    {{/if}}
    <div class="field">
      <@inputComponent
        class={{concat "form-control" (if isInvalid " is-invalid")}}
      />
    </div>
    {{#if @config.texts.hint}}
      <small class="form-text text-muted">{{@config.texts.hint}}</small>
    {{/if}}
    {{#if isInvalid}}
      <div class="invalid-feedback" data-test-errors>
        {{#each @config.validations.errors as |error i|~}}
          {{if i ", "}}{{error}}
        {{~/each}}
      </div>
    {{/if}}
  </div>
{{/let}}
