<h2 id="title">Welcome to Ember.js</h2>

<h3>{{title}}</h3>

{{#simple-form for=controller as |f|}}
  asdf
  {{title}}
  {{simple-input on=f attr="title" as="string" testAttr="asdfasdf"}}
{{/simple-form}}

{{outlet}}
